@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #F69911;
  --color-primary-hover: #e0880b;
}

@layer base {
  body {
    @apply font-sans antialiased text-slate-900 bg-white;
  }
}
